    <ons-page id="carousel">
        <ons-toolbar>
          <div class="left"><ons-back-button>Zurück</ons-back-button></div>
          <div class="center"></div>
        </ons-toolbar>
        
        <ons-carousel id="questCar" swipeable fullscreen auto-scroll overscrollable>
            <ons-carousel-item>
                <ons-progress-circular indeterminate></ons-progress-circular>
            </ons-carousel-item>

        
            
        </ons-carousel>
        
    
    </ons-page>
