<ons-page id="main_nav">
    <ons-toolbar>
        <div class="center">Lernen</div>
      </ons-toolbar>
    
      <ons-tabbar id="main_tabbar" swipeable position="auto">
        <ons-tab page="views/learn.html" label="Lernen" icon="ion-ios-home, material:md-home" badge="7" active>
        </ons-tab>
        <ons-tab page="views/test.html" label="Prüfung" icon="md-settings" active-icon="md-face">
        </ons-tab>
        <ons-tab page="views/stats.html" label="Statistiken" icon="md-settings" active-icon="md-face">
        </ons-tab>
      </ons-tabbar>

      <script>
        //Tabbar + Toolbar names
        document.addEventListener('prechange', function(event) {
                document.querySelector('ons-toolbar .center')
                    .innerHTML = event.tabItem.getAttribute('label');
                });
    </script>
</ons-page>