<ons-page id="test">
    
    <!-- <img src="views/pictures/Prüfung.jpg" style="height: 100%"> -->
    
    <!-- 
        <p>
            <h3 align="center">Wähle deinen Prüfungsmodus:</h3>
            <h4>Schwierigkeit:</h4>
            <ons-select id="choose-sel1test" >
                <div class="center"></div>
                <option value="level1">Multiple Choice</option>
                <option value="level2">Drag and Drop</option>
                <option value="level3">Freitext</option>
            </ons-select>
        </p>
    -->
    <div align="center" class ="center" style="margin-right: 10px; margin-left: 10px;">
        
        <h3 style="margin-top: 20px;">Wähle deinen Prüfungsmodus:</h3>

        <div style="margin-top: 25px;">
            <h4>Verbindungsart:
                <ons-select id="choose-sel2test" >
                    <option value="Alle">Alle</option>
                    <option value="1">Ionen</option>
                    <option value="2">Wasserstoff, Sauerstoff</option>
                    <option value="3">Natrium, Calcium</option>
                    <option value="4">Stickstoff</option>
                    <option value="5">Kohlenstoff</option>
                    <option value="6">Phosphor, Schwefel</option>
                    <option value="7">Halogene</option>
                    <option value="8">Kohlenwasserstoffe</option>
                </ons-select>
            </h4>
        </div>
    
        <!--
            <p>
                <h4>Richtung:</h4>
                <ons-select id="choose-sel3test" >
                    <option value="direct1">Gemischt</option>
                    <option value="direct2">Summenformel -> Name</option>
                    <option value="direct3">Name -> Summenformel</option>
                </ons-select>
            </p>
        -->

        <ons-button id="push-button" style="margin-top: 30px; text-align:center">
            Prüfung starten
        </ons-button>
    </div>
</ons-page>