<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ffb.fela" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FeLa</name>
    <description>A simple app for learning chemical formulas.</description>
    <author>
        stu226824, stu224207, stu230485
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="GradlePluginKotlinEnabled" value="true" />
    <preference name="AndroidXEnabled" value="true" />
</widget>
